.col-md-3
  -result = result.searchable
  =link_to "/authors/#{result.id}", :class=>"lwhite" do
    .results-box.bgblack
      .results-box-upper.adelle.tw800
        Author
      %br
      .results-box-lower
        -if result.name
          .adelle.tw800.t1-6em.box-title
            =result.name
        -else
          .adelle.tw800.t1-6em.box-title
            Untitled