.container-fluid.bgblack.twhite
  .row
    .container

.container-fluid.bglightgrey.tgrey
  .row
    .container
      .row
        %p#notice= notice
        .col-md-1
        .col-md-9
          .top-twenty-margin
            .t3em.adelle.tw800.torange
              Search results
        
          / Results block
          .row
            .top-twenty-margin
              -if @results.count > 0
                -@results.each do |result|
                  -if result.searchable_type == "Author"
                    =render :partial => "/search/author_result", locals: {result: result}
                  -elsif result.searchable_type == "Recording"
                    =render partial: "/search/recording_result", locals: {result: result}
                  -else
                    / =result.inspect
              
              -else
                .t3em.adelle.tw800
                  No Results!
      .row.top-fifty-margin
      
.container-fluid.bgblack
  =render :partial => "layouts/footer"      

      
  