%audio{:src => "/assets/interviewSC.mp3", :type => "audio/mpeg", :id=>"audioPlayer", :preload=>"auto"}

.player-controls
  .player-control-container
    .player-small{:id=>"player-pause", :onclick=>"pauseInterview()"}
      %span.glyphicon.glyphicon-pause.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  .player-control-container
    .player-small{:id=>"player-stop", :onclick=>"stopInterview()"}
      %span.glyphicon.glyphicon-stop.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  / .player-control-container
  /   .player-small{:id=>"player-backward", :onclick=>"stepBackInterview()"}
  /     %span.glyphicon.glyphicon-step-backward.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  .player-control-container
    .player-large{:id=>"player-play", :onclick=>"playInterview()"}
      %span.glyphicon.glyphicon-play.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  / .player-control-container
  /   .player-small{:id=>"player-forward", :onclick=>"stepForwardInterview()"}
  /     %span.glyphicon.glyphicon-step-forward.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  .player-control-container
    .player-small{:id=>"player-mute", :onclick=>"muteInterview()"}
      %span.glyphicon.glyphicon-volume-off.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
  .player-control-container
    .player-small{:id=>"player-loop", :onclick=>"loopInterview()"}
      %span.glyphicon.glyphicon-retweet.twhite{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}

.player-scrubber

  .player-scrubber-container
    .player-scrubber-base
    .player-scrubber-played

.player-times
  .player-elapsed.float-left
    00.00
  .player-total.float-right
    
  
