.row
  .col-md-12
    .timeline-container
      .left-bar.bgblack
      .middle-bar
        .timeline-background
          .timeline-bar
      .right-bar.bgblack
.row
  .col-md-12
    .pointer-container
      .pointer-left
      .pointer-mid
        .pointer-background
          .timeline-pointer
      .pointer-right
      