.container-fluid.bglightgrey.tgrey
  .recording-image
    =image_tag "authors/author1.png", :class=>"author-image"


.container-fluid.bglightgrey.tgrey
  .row
    .container
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          %p#notice= notice
          .t1-6em.tw600.tblue.center
            =@recording.name
          
          
          / Recording section
          .t1-6em.top-twenty-margin.sans.lh1-5em.tw300
            /Temporarily disabled with no internet =link_to "Listen", @recording.file.url, :class=>"html5"
            
            %section{:id => "audio"}
              %audio{:src => "/assets/beehive.mp3", :type => "audio/mpeg", :id=>"audioPlayer", :preload=>"auto"}
              %br
              .border#timecode
          
          / Timeline section
          .t1-6em.top-twenty-margin.sans.lh1-5em.tw300
            =render :partial => "timeline"
          
          / Segment bubble section
          .top-twenty-margin.sans.lh1-5em.tw300
            -@recording.segments.sort_by(&:start_time).map{|s| s.name}.uniq.each do |segment|
              .segment-bubble.bgblue.twhite.tbold{:id => "#{segment.gsub(" ", "_").downcase}"}
                =segment
          
          / Add new recording metadata
          .top-fifty-margin
            %h3
              =link_to 'Upload a set of tags for this recording', :tag_upload_path

            = link_to 'Edit', edit_recording_path(@recording)
            |
            = link_to 'Back', recordings_path


