.container-fluid.bglightgrey.tgrey
  .row
    .container
      .col-md-1
      .col-md-9.bottom-twenty-margin
        .t6em.tw700.adelle.top-fifty-margin
          Authors
        .t1-6em.tw500.top-fifty-margin
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        .top-fifty-margin
          -if @authors
            - @authors.each do |author|
              .row.no-gutter
                .col-md-12.top-twenty-margin{:class=>["bgblue", "bgpeach", "bgseafoam"].sample}
                  .row
                    .col-md-4
                      =image_tag "authors/author1.png", :class=>"author-image"
                    .col-md-8
                      .left-ten-margin
                        .y60px
                        =link_to author.name, author, :class=>"lwhite tw800 t1-6em adelle tunderline"
                        .titalic.top-twenty-margin.twhite
                          =author.job_title
      