.container-fluid.bglightgrey.tgrey
  .row
    .container
      .col-md-1
      .col-md-9.bottom-twenty-margin
        .t4em.tw700.adelle.top-fifty-margin
          Let us introduce you…
        .t1-4em.tw400.top-fifty-margin

          …to the women academics who have shared their career stories with <i>Life Academique</i>. Hear about their experience as researchers, teachers and leaders, as working parents and as women in a still very male-dominated world. 
          Click on the podcasts below to hear their stories. 
          %br
          %br
          If you’d like to search for information on a specific topic instead, you can do so 
          %span>=link_to " here", "/recordings", :class=>"lgrey"
          \.
          
        .top-fifty-margin
          -if @authors
            - @authors.each do |author|
              .row.no-gutter
                .col-md-12.top-twenty-margin{:class=>["bgblue", "bgpeach", "bgseafoam"].sample}
                  .row
                    .col-md-4
                      =image_tag "authors/author1.png", :class=>"author-image"
                    .col-md-8
                      .left-ten-margin
                        .y60px
                        =link_to author.name, author, :class=>"lwhite tw800 t1-6em adelle tunderline"
                        .titalic.top-twenty-margin.twhite
                          =author.job_title
      