.container-fluid.bglightgrey.tgrey
  .row
    .container
      .col-md-1
      .col-md-9.bottom-twenty-margin
        .t6em.tw700.adelle.top-fifty-margin
          Speakers
        .t1-4em.tw400.top-twenty-margin

          Life Academique presents interviews with women academics who talk about their working lives, hopes and dreams, successes and failures, principles and practicalities. Their stories will spark ideas for your own career and provide useful tips.
          
        .top-fifty-margin
          -if @authors
            - @bg = bg_colour_list(@authors.count, black=false)
            - @authors.each_with_index do |author, i|
              .row.no-gutter
                .col-md-12.top-twenty-margin{:class=>@bg[i]}
                  .row
                    .col-md-4
                      =image_tag "authors/author1.png", :class=>"author-image"
                    .col-md-8
                      .left-ten-margin
                        .y60px
                        =link_to author.name, author, :class=>"lwhite tw800 t1-6em adelle tunderline"
                        .titalic.top-twenty-margin.twhite
                          =author.job_title
      