
.container-fluid.bglightgrey.tgrey
  %p#notice= notice
  .row
    .container
      .row
        .col-md-1
        .col-md-9
          .t5em.tw700.adelle.top-twenty-margin
            =@author.name + "'s story"
          / .t1-6em.tw500.top-twenty-margin
          .top-twenty-margin
            .row.no-gutter
              .col-md-12{:class=>["bgblue", "bgpeach", "bgseafoam", "bgblack", "bgdarkgrey"].sample}
                .row
                  .col-md-4
                    =link_to @author.recordings.first  do
                      .author-listen
                        .author-play-container.bgblue
                          .author-play
                            %span.glyphicon.glyphicon-play.tblue{"aria-hidden" => "true", :style=>"line-height:inherit!important;"}
                    / =image_tag "authors/author1.png", :class=>"author-image"
                  .col-md-8
                    .left-ten-margin
                      .y150px
                      .twhite.t1-6em.adelle.tw600
                        ="Listen to " + @author.name + "'s story"
        
            .row
              .col-md-12.top-twenty-margin
                .top-bottom-twenty-margin.t1-4em.tbold
                  Biography
                .top-bottom-twenty-margin.t1-4em.lh1-3em
                  =@author.bio_text.html_safe
 