.container-fluid.bglightgrey.tgrey
  .row
    .container
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          .t6em.tw700.adelle
            About.
          .t1-6em.top-seventy-margin.sans.lh1-5em.tw300
            ‘Life Academique was born just after my daughter, in 2013,’ explains Doris Ruth Eikhof from the University of Leicester. ‘Back then I was a lecturer but I knew I didn’t want to stay one for much longer. I had just become a working mother which didn’t bode well for career advancement in male-dominated academia. I started to actively seek out other women academics for advice and greatly benefited from their information, inspiration and encouragement. But I also saw how difficult it can be for women academics to access these role models, especially if they don’t work in your own department. Conferences and other networking opportunities mean working a er childcare hours or away from home. And of course, if you are already struggling to cram an overflowing to do-list into the constraints of childcare, you are unlikely to prioritise any personal development activities anyhow. So I had the idea of collecting inspirational women’s stories and making them available on demand and targeted to specific topics. Life Academique was developed to do exactly that.’ 
            %br
            %br
            This version of Life Academique is a prototype, designed to show what Life Academique can do. The team at the University of Leicester are working on developing this prototype into a full application.
            Would you like to know more about the Life Academique project? Do you have inspiration or information to share? Do you know an inspirational woman academic who we should be talking to? Have you got any suggestions about content, format or technicalities? Have you found any bugs that we should know about?
            %br
            %br
            We’d be delighted to hear from you. Please email us at d.r.eikhof@leicester.ac.uk or see below for full contact information.
            
=render :partial => "/layouts/get_in_touch"