.container-fluid.bgblack.twhite
  .row
    .container
      =render :partial => "layouts/header", locals: {divider: true}
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          .t6em.tw700.adelle
            About.
.container-fluid.bgblack
  =render :partial => "layouts/footer" 