.container-fluid.bgblue.twhite
  .row
    .container
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          .t6em.tw700.adelle
            Say Hello.
          .t2em.top-fifty-margin.sans.lh1-5em.tw500
            If you would like to get in touch to leave us feedback, or enquire about Life Academique please get in touch below.
          .top-hundred-margin
=render :partial => "/layouts/get_in_touch"
