/ First row with header
.container-fluid.twhite.bgblue
  .row
    .container
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          .t6em.tw700.adelle
            Hello.
          .t4em.top-ten-margin.adelle
            Welcome to Life Academique
          .t2em.top-seventy-margin.sans.lh1-5em.tw300
            Welcome to Life Academique – inspiration and information for women in academia from women academics who’ve been there before.
        .col-md-1
      .row.top-hundred-margin

/ Second Row w/ search
.container-fluid       
  .row
    .container
      .row.top-hundred-margin
        .col-md-1
        .col-md-9
          =form_tag("/search", method: "get", ) do
            .input-group
              =text_field_tag :q, params[:q], class: "form-control input-lg", :placeholder => "Search for recordings", :type=>"text"
              %span.input-group-btn
                =button_tag(:class=>"btn btn-lg", :type => "submit") do
                  %i.glyphicon.glyphicon-search
        .col-md-1
      .row.top-hundred-margin
      
/ Third Row what to expect
.container-fluid.bgblue.twhite      
  .row
    .container
      .row.top-hundred-margin
        .col-md-1
        .col-md-10
          .t2em.adelle.tw600
            What to expect.
          .t1-6em.top-twenty-margin.lh1-3em.tw300
            So you know that working in academia has its very own joys and challenges. And you know that being a woman in academia adds some extra challenges. And you’d like to make academia work for you, your aspirations, your strengths, your personality, your life.
            %br
            %br
            You’re not alone. <i>Life Academique</i> introduces you to woman academics who have been there too. In <i>Life Academique</i> these women talk about their working lives, hopes and dreams, successes and failures, principles and practicalities. Their stories will spark ideas for your own career and provide useful tips.
            %br
            %br
            You can listen to each woman’s story - select a podcast
            =link_to "here.", "/recordings", :class=> "lwhite"
            Or you can hear different women’s take on a topic that interest you - pick your topic
            =link_to "here.", "/recordings"
        .col-md-1
      .row.top-hundred-margin

=render :partial => "layouts/get_in_touch"
/ %h2
/   =link_to "Upload an audio file", new_recording_path
/
/ %h4
/   =link_to "Recordings", recordings_path