/ First row with header
.container-fluid.bgblue.twhite
  .row
    .container
      %p#notice= notice
      .row.top-fifty-margin
        .col-md-1
        .col-md-9
          .t6em.tw700.adelle
            Search our topics.
      .row.top-fifty-margin

.container-fluid
  .row
    .container
      .row.top-twenty-margin
        .col-md-1
        .col-md-10
          -@bg = bg_colour_list(@topics.count, black=true, rows_split=true)
          -@topic_rows.each_with_index do |topic_row, ii|
            .bottom-ten-margin
            =render partial: "tags/layouts/#{topic_row[1][:style]}", locals: {topics: topic_row[1], colours: @bg[ii]}
        .col-md-1

        
.container-fluid.bgblack
  =render :partial => "layouts/footer"
            
/ %table
/   %thead
/     %tr
/       %th{colspan: "3"}
/   %tbody
/     -if @recordings
/       - @recordings.each do |recording|
/         %tr
/           %td= link_to recording.name, recording
/           %td= link_to 'Show', recording
/           %td= link_to 'Edit', edit_recording_path(recording)
/           %td= link_to 'Destroy', recording, method: :delete, data: { confirm: 'Are you sure?' }
/     -else
/       No recordings
/ %br/
/ = link_to 'New Recording', new_recording_path

