/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0px;
  padding: 0px;
}

.bgorange{
  background-color:rgb(237, 116, 25);
}

.bglightgrey{
  background-color:#eee;
}

.tgrey{
  color:#555;
}

.torange{
  color:rgb(237, 116, 25);
}

a.lorange {
  font-weight:bold;
  color:rgb(237, 116, 25);
}

a.lgrey {
  font-weight:bold;
  color:#555;
}

.submit-grey{
  padding:10px 30%;
  background-color:#555;
  font-size:1em;
  border:none;
  color:#fff;
  font-size:1.2em;
}

.adelle{
  font-family: "adelle";
}

.sans{
  font-family:sans-serif;
}

.divider{
  border-bottom: 2px solid #bbb;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.nav-link{
  font-size:1.5em;
  margin-left:15px;
}

.logo{
  height:120px;
  width:240px;
  display:block;
  background-image: image-url('la_logo.png');
  background-size: 240px 120px;
}

.results-box{
  height:170px;
  padding:20px;
}

.results-box-lower{
  height:90px;
  display:table-cell;
  vertical-align:bottom;
}

.results-box-upper{
  height:15%;
  display:table-cell;
  vertical-align:top;
  clear:both;
}


.recording-box{
  height:225px;
  padding:20px;
}


.box-upper{
  height:15%;
  display:table-cell;
  vertical-align:top;
  clear:both;
}


.box-lower{
  height:130px;
  display:table-cell;
  vertical-align:bottom;
}

.box-title{
  
}

.mic{
  background-image: image-url('la_mic.png');
  width:25px;
  height:35px;
  background-size: 25px 40px;
}

.author-image{
  width:100%;
}