// Place all the styles related to the Recordings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-container{
  display:block;
  height:45px;
  font-size: 0;
}

.left-bar{
  display:inline-block;
  height:100%;
  width:1%;
  font-size: 0;
}

.middle-bar{
  display:inline-block;
  height:100%;
  width:98%;
  font-size: 0;
}

.right-bar{
  display:inline-block;
  height:100%;
  width:1%;
  font-size: 0;
}

.timeline-tick{
  float:left;
  height:100%;
  width:20%;
}


.timeline-background{ 
  position:relative;
  height:100%;
  width:100%;
  font-size: 0;
}

.segment-tick{
  position:absolute;
  height:100%;
  width:3px;
}

.timeline-bar-container{
  position:absolute;
  font-size: 0;
  width:100%;
  height:100%;
}

.timeline-bar{
  position:absolute;
  width:100%;
  top:50%;
  height:2px;
  background:black;
}

.pointer-container{
  display:block;
  height:25px;
  width:100%;
}

.pointer-left{
  float:left;
  height:100%;
  width:1%;
}

.pointer-right{
  float:left;
  height:100%;
  width:1%;
}

.pointer-mid{
  float:left;
  height:100%;
  width:98%;
}

.pointer-background{
  position:absolute;
  height:100%;
  width:100%;
}

.timeline-pointer {
  margin-top:5px;
  position:absolute;
  left:-10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255,167,68);
}

.player-controls{
  text-align:center;
}
.player-control-container{
  display:inline-block;
  margin-right:15px;
  cursor:pointer;
  cursor:hand;
}

.player-small{
  width:50px;
  height:50px;
  background-color:black;
  border-radius:100%;
  line-height:48px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
}

.player-large{
  width:80px;
  height:80px;
  background-color:black;
  border-radius:100%;
  line-height:76px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
}

.player-scrubber{
  margin-top:10px;
}

.player-scrubber-container{
  position:relative;
  display:block;
  height:12px;
  width:100%;
}

.player-scrubber-base{
  position:absolute;
  width:100%;
  top:3px;
  height:2px;
  background:black;
}

.player-scrubber-played{
  position:absolute;
  top:1px;
  height:6px;
  background:black;
}