// Place all the styles related to the Recordings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-container{
  display:block;
  height:45px;
}

.left-bar{
  float:left;
  height:100%;
  width:1%;
}

.middle-bar{
  float:left;
  height:100%;
  width:98%;
}

.right-bar{
  float:left;
  height:100%;
  width:1%;
}

.timeline-tick{
  float:left;
  height:100%;
  width:20%;
}

.timeline-background{
  position:absolute;
  height:100%;
  width:100%;
}

.segment-tick{
  position:absolute;
  height:100%;
  width:3px;
}

.pointer-container{
  display:block;
  height:25px;
  width:100%;
}

.pointer-left{
  float:left;
  height:100%;
  width:1%;
}

.pointer-right{
  float:left;
  height:100%;
  width:1%;
}

.pointer-mid{
  float:left;
  height:100%;
  width:98%;
}

.pointer-background{
  position:absolute;
  height:100%;
  width:100%;
}

.timeline-pointer {
  margin-top:5px;
  position:absolute;
  left:-10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255,167,68);
}