// Place all the styles related to the Recordings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline-container{
  display:block;
  height:45px;
}

.left-bar{
  float:left;
  height:100%;
  width:1%;
}

.middle-bar{
  float:left;
  height:100%;
  width:98%;
}

.right-bar{
  float:left;
  height:100%;
  width:1%;
}

.timeline-tick{
  float:left;
  height:100%;
  width:20%;
}

